name: Selenium TestNG CI-CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-selenium-tests:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Install Google Chrome
      run: |
        sudo apt-get update
        sudo apt-get install -y wget gnupg unzip
        wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
        sudo sh -c 'echo "deb http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google-chrome.list'
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable

    - name: Verify Chrome Installed
      run: google-chrome --version

    - name: Run TestNG Tests
      env:
        GITHUB_ACTIONS: true
      run: mvn clean test -Dsurefire.suiteXmlFiles=src/test/resources/testng.xml

    - name: Upload TestNG Reports
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: TestNG-Reports
        path: target/surefire-reports/

    - name: Upload Screenshots
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: Screenshots
        path: screenshots/
        if-no-files-found: ignore
